/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

#myMagazine { margin: 0; padding: 0; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 24px; max-width: 1800px; }

#myMagazine main h1{
    background-color:#000;
    color:#fff;
    text-align: center;
    font-size: 1em;
    font-weight: 540;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
}

#myMagazine main{ background-color: #444;}

#myMagazine main section{
    width: 25%;
    float: left;
    text-align: center;
    padding-top: 110px;
    color:  #fff;
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: 63px 100px;    
}

#myMagazine main::after {
     content:'';
     display: block;
     clear: both;
}

#myMagazine main section.vog {
    background-color: beige; 
    background-size:auto;
    background-image:  url(images/Vogue_mag.jpeg);
}
#myMagazine main section.tim {
    background-color: orangered;
    background-size:auto;
    background-image: url(images/Time_mag.jpeg);
}
#myMagazine main section.mar {
    background-color:darkseagreen;
    background-size:auto;
    background-image: url(images/marie_claire_mag.jpeg);
}
#myMagazine main section.sho {
    background-color:darkgoldenrod; 
    background-size:auto;
    background-image: url(images/Shope.mag.jpeg);
}

#myMagazine main section > div{
    margin-top: 85px;
    padding :5px 0;
    background-color: rgba(0,0,0,.15);  
    
}

#myMagazine main h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}


#myMagazine main p {
    margin: 0; 
    font-size: 1.5em; 
    font-weight: 300;
}

#myMagazine main p + p {
    font-size: 1em;
    font-weight:550;
}

#myMagazine main p::before {content:'$';}
#myMagazine main p::after {content:'per issue';}

#myMagazine main p + p::before {content:'$';}
#myMagazine main p + p::after {
    margin-bottom: 4px;
        content:'';
    color: rgba(255,255,255,.5);
    padding-left:4px;
}

#myMagazine form {
    background-color: #000;
    margin: 0;
    padding:10px 0px;
}

#myMagazine form br{ display:none;}

#myMagazine form > div {
    color:#fff;
    width: 33%;
    float:left;
    text-align: center;
    padding:10px 0 5px 0;
}

#myMagazine form::after {
    content:'';
    display:block;
    clear:both;
}

#myMagazine form h4{
    color: #aaa;
    margin: 0 0 -5px 0;
    font-size: 1.5em;
    font-weight:300;
}

#myMagazine form p {
    color: #888;
    margin: 0 0 6px 0;
    font-size: 0.9em;
}

#myCalculator form input[type=number] {
    width: 50px;
    text-align: left;
    font-size: 1em;    
}

#myMagazine form select{
    font-size: 1em;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    background: #fff url(images/icons_arrows.svg) no-repeat right 6px;
    background-size: 30px 20px;
    padding: 3px 30px 3px 5px;
}

#myMagazine form select::-ms-expand {display:none;}

@media screen and (max-width:2500px){
    
    #myMagazine{ font-size: 15px;}
    #myMagazine main section { 
        background-size: 45px 71px;
        padding-top: 80px;
    }
    #myMagazine main h4 {
        margin:0;
        font-size: 0.75em;
        letter-spacing: 0;
    }
    #myMagazine main p {
        font-size:1.1em;
    }
    #myMagazine main p + p {
        font-size: 1em;
    }
    #myMagazine main p + p::after{
        display: block;
        margin-top: -10px;
        color: #fff;
    } 
    #myMagazine form h4{
        font-size: 1.1em;
        margin: 0;
    }
    #myMagazine form p {
        font-size: .8em; line-height: 14px;
    }
    #myMagazine form br { display: inline;}
    #myMagazine form input[type=number] {
        width: 30px font-size: .8em;
    }
    #myMagazine form select {
        font-size: .8em;
    }
}






